build/html/.buildinfo
build/html/genindex.html
build/html/index.html
build/html/README.html
build/html/search.html
build/html/P01_Erste_Schritte_mit_C/README.html
build/html/P02_Funktionen_Datentyp_enum/README.html
build/html/P03_Bit_Operation_struct_typedef/README.html
build/html/P04_Modularisieren_von_C_Code/README.html
build/html/P05_TicTacToe/P05_TicTacToe.html
build/html/P05_TicTacToe/README.html
build/html/P06_Personen_Verwaltung_Linked_List/README.html
build/html/P07_Prozesse_und_Threads/README_P02.html
build/html/P07_Prozesse_und_Threads/README.html
build/html/P08_Sync/README.html
build/html/P09_File_Operations/README.html
build/html/P10_IPC/README.html
build/html/P11_Bash/README.html
build/html/_images/MVC_pattern.svg
build/html/_sources/index.rst.txt
build/html/_sources/README.md.txt
build/html/_sources/P01_Erste_Schritte_mit_C/README.md.txt
build/html/_sources/P02_Funktionen_Datentyp_enum/README.md.txt
build/html/_sources/P03_Bit_Operation_struct_typedef/README.md.txt
build/html/_sources/P04_Modularisieren_von_C_Code/README.md.txt
build/html/_sources/P05_TicTacToe/P05_TicTacToe.rst.txt
build/html/_sources/P05_TicTacToe/README.md.txt
build/html/_sources/P06_Personen_Verwaltung_Linked_List/README.md.txt
build/html/_sources/P07_Prozesse_und_Threads/README_P02.md.txt
build/html/_sources/P07_Prozesse_und_Threads/README.md.txt
build/html/_sources/P08_Sync/README.md.txt
build/html/_sources/P09_File_Operations/README.md.txt
build/html/_sources/P10_IPC/README.md.txt
build/html/_sources/P11_Bash/README.md.txt
build/html/_static/alabaster.css
build/html/_static/basic.css
build/html/_static/custom.css
build/html/_static/doctools.js
build/html/_static/documentation_options.js
build/html/_static/jquery.js
build/html/_static/language_data.js
build/html/_static/pygments.css
build/html/_static/searchtools.js
build/html/_static/underscore.js
